@media screen and (max-width: 980px){
   .home{
       
    
        grid-gap: 0;
        padding: 0;
        margin: 0;
    }
}

@media screen and (max-width: 980px){
    .update-btn{
        
     display: flex;
     flex-direction: column;
         grid-gap: 0;
         padding: 0;
         margin: 0;
     }
 }
